<app-nav></app-nav>
<div class="jumbotron hero">
  <div id="menu">
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="border-radius: 10px;">
          <div class="menu-panel">
            <h3>Cargar Menú</h3>
            <hr>
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true" style="font-size: 120px;" ></span>
          </div>
        </div>
        <div class="col-md-4" style="border-radius: 10px;">
          <div class="menu-panel">
            <h3>Registrar compra</h3>
            <hr>
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 120px;" ></span>
          </div>
        </div>
        <div class="col-md-4" style="border-radius: 10px;">
          <div class="menu-panel">
            <h3>Registrar credito</h3>
            <hr>
            <span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="font-size: 120px;" ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
