<app-nav-consumidor></app-nav-consumidor>
<section>
  <h2 class="text-center">{{ name.auth.displayName }}  </h2></section>
<div id="menu_body" class="col-md-12 jumbotron hero">
  <div class="row col-md-5">
    <div class="container col-md-12" id="menu_especial">
      <h4 class="text-left"><span style="text-decoration: underline;">Espesial del dia</span></h4><img class="img-rounded" src="assets/img/cr2.jpg" width="50%" id="img_menu_especial">
      <div class="col-md-12"><span class="label label-default col-md-6">Precio: $1,40 </span><span class="label label-default col-md-6">Detalle </span></div>
    </div>
    <div class="container col-md-12">
      <h3 class="text-muted">Comentarios </h3>
      <div>
        <h2 class="text-right text-muted media">Heading<img class="img-rounded img-responsive media-object" src="assets/img/plato1.jpg" width="30%"></h2></div>
    </div>
  </div>
  <div class="col-md-6 menu_especial">
    <h3 class="text-center text-muted">Menu </h3>
    <div class="container col-md-5" id="menu_especial"><img class="img-rounded" src="assets/img/cr2.jpg" width="60%" id="img_menu_especial">
      <div class="col-md-12"><span class="label label-default col-md-12">Precio: $1,40 </span></div>
    </div>
    <div class="container col-md-5" id="menu_especial"><img class="img-rounded" src="assets/img/cr2.jpg" width="60%" id="img_menu_especial">
      <div class="col-md-12"><span class="label label-default col-md-12">Precio: $1,40 </span></div>
    </div>
    <div class="container col-md-5" id="menu_especial"><img class="img-rounded" src="assets/img/cr2.jpg" width="60%" id="img_menu_especial">
      <div class="col-md-12"><span class="label label-default col-md-12">Precio: $1,40 </span></div>
    </div>
    <div class="container col-md-5" id="menu_especial"><img class="img-rounded" src="assets/img/cr2.jpg" width="60%" id="img_menu_especial">
      <div class="col-md-12"><span class="label label-default col-md-12">Precio: $1,40 </span></div>
    </div>
    <div class="container col-md-5" id="menu_especial"><img class="img-rounded" src="assets/img/cr2.jpg" width="60%" id="img_menu_especial">
      <div class="col-md-12"><span class="label label-default col-md-12">Precio: $1,40 </span></div>
    </div>
    <div class="container col-md-5" id="menu_especial"><img class="img-rounded" src="assets/img/cr2.jpg" width="60%" id="img_menu_especial">
      <div class="col-md-12"><span class="label label-default col-md-12">Precio: $1,40 </span></div>
    </div>
  </div>
</div>
