<app-nav-proveedor></app-nav-proveedor>
<div class="component-container">
  <div class="page-head">

    <div class="row">
      <div class="col-sm-11">
        <i class="fa fa-chevron-left fa-3x" id="return" aria-hidden="true" routerLink="/menu-proveedor"></i>
        <h1 class="page-title" >{{titulo}}</h1>
      </div>
      <div class="col-sm-1">
        <button md-fab class="mat-fab" (click)="openModalAfiliadoCrear()"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>
    
  </div>
  <div class="page-main">
    <div class="page-section">
      <i class="fa fa-spinner fa-pulse fa-5x fa-fw icon-loading" *ngIf="datosCargados"></i>

      <table class="table table-hovered" *ngIf="!datosCargados">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Afiliaci&oacute;n</th>
            <th>Saldo</th>
            <th style="width: 10%; text-align: center;">Recarga</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let afl of afiliados | async | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{ afl.nombre }}</td>
            <td>{{ afl.fechaAfiliacion }}</td>
            <td>${{ afl.saldo | number : '1.2-2' }}</td>
            <td style="width: 10%;">
              <button class="btn btn-primary" (click)="openModalAfiliado(afl.$key, afl.nombre, afl.saldo)"><i class="fa fa-credit-card" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->
      <pagination-controls *ngIf="!datosCargados" (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
</div>

<modal #modalAfiliado>
  <modal-header >
    <h4 class="modal-title">Recargar</h4>
  </modal-header>

  <modal-body>
    <ul class="list-group" style="padding-top: 5%">
      <li class="list-group-item"><strong>Nombre: </strong>{{afiliado.nombre}}</li>
      <li class="list-group-item"><strong>Saldo Actual: </strong>${{afiliado.saldo | number : '1.2-2'}}</li>

      <li class="list-group-item"><strong>Saldo a Recargar:</strong> &nbsp;&nbsp; &nbsp;&nbsp;

        <label class="radio-inline"><input type="radio" name="optradio" value="5" [(ngModel)]="radioValue" ><h5>$5</h5></label>
        <label class="radio-inline"><input type="radio" name="optradio" value="10" [(ngModel)]="radioValue"  ><h5>$10</h5></label>
        <label class="radio-inline"><input type="radio" name="optradio" value="20" [(ngModel)]="radioValue"  ><h5>$20</h5></label>

      </li>
      <li class="list-group-item" style="text-align: center;">
        <button style="width: 40%" type="button" class="btn btn-primary" (click)="modalVerificar.open(); modalAfiliado.close();"> <i class="fa fa-check" aria-hidden="true"></i> Recargar </button>
        <button style="width: 40%" type="button" class="btn btn-danger " (click)="modal.close()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
      </li>
    </ul>
  </modal-body>
</modal>

<modal #modalVerificar>
  <modal-header >
    <h4 class="modal-title">Confirmación de Recarga</h4>
  </modal-header>

  <modal-body>
    <div style="text-align: center;">
        <h3 >
          Abonar ${{this.radioValue}} al cliente/a: "{{afiliado.nombre}}"<br>
        </h3>
    </div>
  </modal-body>

  <modal-footer>
    <div style="text-align: center;">
      <button style="width: 40%" type="button" class="btn btn-primary" (click)="recargar()"><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
      <button style="width: 40%" type="button" class="btn btn-danger" (click)="modalVerificar.close(); modalAfiliado.open();"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
    </div>
  </modal-footer>
</modal>

<modal #modalRecargaExitosa>
  <modal-header >

    <h4 class="modal-title">Mensaje</h4>
  </modal-header>

  <modal-body >
    <div style="text-align: center;">
    <h3>
      Recargar correctamente Realizada
    </h3>
    </div>
  </modal-body>

  <modal-footer style="text-align: center;">
    <button  style="width: 40%" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check-square" aria-hidden="true"></i> Aceptar</button>
  </modal-footer>
</modal>

<modal #modalCrearAfiliado>
  <modal-header >
    <h4 class="modal-title">Registro de un nuevo afiliado</h4>
  </modal-header>

  <modal-body >
    <div class="row">
      <div class="col-sm-2" style="border: 0; padding-right: 0%;">
        <label class="col-lg-2 control-label"><h5>Cliente:</h5></label>
      </div>
      <div class="col-sm-10">
        <div class="input-group search-bar" style="width: 80%; margin-left: 20px;">
          <input mdInput class="form-control" [value]="nombre" [(ngModel)]="nombre" placeholder="Ingrese el Cliente/a a Buscar" [mdAutocomplete]="auto" [formControl]="clienteCtrl">

          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let cliente of filtroClientes | async" [value]="cliente">
              {{ cliente }}
            </md-option>
          </md-autocomplete>

          <span class="input-group-btn">
            <button type="button" class="btn btn-info" (click)="getClientes();" ><i class="fa fa-search" aria-hidden="true"></i></button>    
          </span>
        </div>

      </div>
    </div>
    <div class="row" >
      <table class="table table-hovered" >
        <thead>
        <tr>
          <th style="text-align: center">Nombre</th>
          <th style="text-align: center">Afiliar</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cli of clientes | async ">
          <td style="text-align: center">{{ cli.nombre }}</td>

          <td>
            <button class="btn btn-sm btn-success" (click)="registrarAfiliados(cli.uid, cli.nombre, cli.codigoQR)"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </modal-body>

  <modal-footer style="text-align: center;">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancelar </button>
  </modal-footer>
</modal>

<modal #modalVerificarAfiliado>
  <modal-header>
    <h4 class="modal-title">Mensaje</h4>        
  </modal-header>

  <modal-body>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-1">
          <i class="fa fa-exclamation-triangle fa-3x" style="color: #d9534f;" aria-hidden="true"></i>
        </div>
        <div class="col-sm-11">
          <h5>Este cliente ya esta registrado como afiliado.</h5>
        </div>
      </div>  
    </div>
  </modal-body>

  <modal-footer style="text-align: center;">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cerrar </button>
  </modal-footer>
</modal>


