<app-nav></app-nav>

<div class="component-container">
  <div class="page-head">
    <i class="fa fa-chevron-left fa-3x" id="return" aria-hidden="true" routerLink="/menu-admin"></i>
    <h1 class="page-title" >{{titulo}}</h1>
  </div>
  <div class="page-main">
    <div class="page-section">
      <div class="row">
        <table class="table table-hovered">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Afiliaci&oacute;n</th>
            <th>Saldo</th>
            <th style="width: 20%; text-align: center;">Recarga</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let afl of afiliados | async | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{ afl.nombre }}</td>
            <td>{{ afl.fechaAfiliacion }}</td>
            <td>{{ afl.saldo }}</td>
            <td style="width: 20%;">
   <button class="btn btn-primary " style="font-size: 80%;  text-align: center;" (click)="openModalAfiliado(afl.$key, afl.nombre, afl.saldo)" > Recarga </button>

      </td>

    </tr>
    </tbody>
  </table>
  <!-- Pagination -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

  </div>
  <span class="app-action-md-fab"><button md-fab class="btn btn-success btn-md" (click)="openModalAfiliadoCrear()"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
</div>

<modal #modalAfiliado>
  <modal-header >
    <h4 class="modal-title">Recargar</h4>
  </modal-header>

  <modal-body>
    <ul class="list-group" style="padding-top: 5%">
      <li class="list-group-item"><strong>Nombre:</strong> &nbsp;&nbsp; <kbd>{{afiliado.nombre}}</kbd></li>
      <li class="list-group-item"><strong>Saldo Actual:</strong> &nbsp;&nbsp; <kbd>${{afiliado.saldo}}</kbd></li>

      <li class="list-group-item"><strong>Saldo a Recargar:</strong> &nbsp;&nbsp; &nbsp;&nbsp;

        <label class="radio-inline"><input type="radio" name="optradio" value="5" [(ngModel)]="radioValue" ><h5>$5</h5></label>
        <label class="radio-inline"><input type="radio" name="optradio" value="10" [(ngModel)]="radioValue"  ><h5>$10</h5></label>
        <label class="radio-inline"><input type="radio" name="optradio" value="20" [(ngModel)]="radioValue"  ><h5>$20</h5></label>

      </li>
      <li class="list-group-item" style="text-align: center;">
        <button style="width: 40%" type="button" class="btn btn-primary" (click)="modalVerificar.open(); modalAfiliado.close();"> <span class="glyphicon glyphicon-plus"></span> Recargar </button>
        <button style="width: 40%" type="button" class="btn btn-danger " (click)="modal.close()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
      </li>
    </ul>
  </modal-body>
</modal>

<modal #modalVerificar>
  <modal-header >
    <h4 class="modal-title">Confirmación de Recarga</h4>
  </modal-header>

  <modal-body>
    <div style="text-align: center;">
        <h3 >
          Abonar <kbd> {{this.radioValue}} $ </kbd> &nbsp; al cliente/a &nbsp;"{{afiliado.nombre}}"<br>
        </h3>
    </div>
  </modal-body>

  <modal-footer>
    <div style="text-align: center;">
      <button style="width: 40%" type="button" class="btn btn-primary" (click)="recargar()"><span class="glyphicon glyphicon-check"></span> Aceptar</button>
      <button style="width: 40%" type="button" class="btn btn-danger" (click)="modalVerificar.close(); modalAfiliado.open();"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
    </div>
  </modal-footer>
</modal>

<modal #modalRecargaExitosa>
  <modal-header >

    <h4 class="modal-title">Mensaje</h4>
  </modal-header>

  <modal-body >
    <div style="text-align: center;">
    <h3>
      Recargar correctamente Realizada
    </h3>
    </div>
  </modal-body>

  <modal-footer style="text-align: center;">
    <button  style="width: 40%" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check-square" aria-hidden="true"></i> Aceptar</button>
  </modal-footer>
</modal>

<modal #modalCrearAfiliado>
  <modal-header >
    <h4 class="modal-title">Registro de un nuevo afiliado</h4>
  </modal-header>

  <modal-body >
    <div style="text-align: center;" class="row">
      <div class="col-md-6" style="border: 0; padding-right: 0%;">
        <input type="text" class="form-control text-primary" [value]="nombre" [(ngModel)]="nombre" placeholder="Ingrese el Cliente/a a Buscar">
      </div>
      <div class="col-md-4" >
      <button  type="button" style="height: 75%; width: 30%;" class="btn btn-success col-lg-5" (click)="getClientes();" ><span class="glyphicon glyphicon-share"></span> </button>
      </div>
    </div>
    <div class="row" >
      <table class="table table-hovered" >
        <thead>
        <tr>
          <th style="text-align: center">Nombre</th>
          <th style="text-align: center">Afiliar</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cli of clientes | async ">
          <td style="text-align: center">{{ cli.nombre }}</td>

          <td>
            <button class="btn btn-sm btn-success" (click)="registrarAfiliados(cli.uid, cli.nombre, cli.codigoQR)"><span class="glyphicon glyphicon-plus"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </modal-body>

  <modal-footer style="text-align: center;">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar </button>
  </modal-footer>
</modal>

<modal #modalVerificarAfiliado>
  <modal-header>
    <h4 class="modal-title">Mensaje</h4>        
  </modal-header>

  <modal-body>
    <div class="form-group">
      <h5>Este cliente ya esta registrado como Afiliado.</h5>
    </div>
       
  </modal-body>

  <modal-footer style="text-align: center;">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar </button>
  </modal-footer>
</modal>


