<app-nav></app-nav>
<div class="component-container">
  <div class="page-head">
    <h1 class="page-title">Funciones del Administrador</h1>
  </div>
  <div class="page-main">
    <div class="page-section">
      <div class="row ">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw icon-loading" *ngIf="datosCargados"></i>

        <!-- Gestionar Cliente-->
        <div *ngIf="administrador && !datosCargados" class="col col-md-3">
          <div class="function-panel main-color-blue">
            <div class="function-body">
              <div class="row">
                <div class="col col-md-4">
                  <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                </div>
                <div class="col col-md-8">
                  <h2>Gestionar Clientes</h2>
                </div>
              </div>
            </div>
            <div class="function-bottom fill-blue">
              <a routerLink="/cliente">
                Ver detalles <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        

    </div>
  </div>
</div>
