/* You can add global styles to this file, and also import other style files */
body {
  background:#E2E4E6;
}

.form-container {
  background:white;
  padding:3.5em;
  width:500px;
  position:fixed;
  left:50%;
  margin-left:-250px;
}

button {
  padding:1.2em;
  width:100%;
  cursor:pointer;
  margin-bottom:15px;
  font-size:1.3em;
}

.basic-btn {
  background: #3B8598;
  color:white;
}

input.txt {
  background:#fff !important;
  padding:1.3em 1em;
  font-size:1.3em;
  border: 1px solid #BBBBBB;
}

h2 {
  margin: 1.7em 0 .9em 0;
}

.alc {
  text-align:center;
  display:block;
  margin: 15px 0;
}

.error {
  background:#f1f0ef;
  padding:1em;
  width:100%;
  display:block;
  margin-bottom:20px;
}

#goback {
  font-weight:bold;
  text-transform:uppercase;
  font-size:.8em;
  color:#3B8598;
}
#goback span {
  font-size:1em;
}



.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}


.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
  body {
    padding-top:1.2em;
  }

  .form-container {
    padding:1.2em;
    width:90%;
    margin-left:-45%;
  }
  button {
    font-size:1em;
  }
}

.navbar{
  margin-bottom:0;
  border:none;
  min-height: 9vh;
}

.navbar-brand .glyphicon{
  margin-right:6px;
}


@media (min-width:992px) {
  .hero .get-it{
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it{
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview{
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p{
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn{
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup{
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;

  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon{
  font-size:60px;
}

section.features{
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2{
  color:#fff;
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.testimonials{
  margin:50px 0;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

#menu{
  text-align:center;
}

span.label.label-default{
  background-color:initial;
  color:#000000;
  font-size:large;
  font-family:'Source Sans Pro';
}

img.img-rounded{
  margin:10px 0px 10px 0px;
  border-radius:30px;
}


div.col-md-6{
  border:solid 1px;
  background-color:rgba(255,255,255,0.75);
}

#menu_especial{
  align-content:center;
  text-align:center;
  background-color:rgba(58,  56,  78,  0.5);
  border:solid 2px;
  padding:0 10px 10px 10px;
  margin:0px 0px 20px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12) !important;
}

#menu_especial{
  margin-bottom:5%;
  border:solid 1px;
}

div.container.col-md-12{
  border:solid 1px;
  background-color:rgba(58,  56,  78,  0.5);
}

div#menu_especial.container.col-md-5{
  margin:0px 10px 20px 20px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12) !important;
  background-color:rgba(58,  56,  78,  0.5);
}

div.row.col-md-5{
  margin:0px 10px 10px 10px;
  color:#F8F8FF;
}

h3.text-muted{
  color:#000;
}

h2.text-right.text-muted.media{
  color:#F8F8FF;
}

div.col-md-12{
  color:#F8F8FF;
}

span.label.label-default.col-md-6{
  color:#F8F8FF;
}

/* Mis clases*/
.main-container{
  background: linear-gradient(145deg,#000000,#595959);
  min-height: 100vh;
}

.component-container{
  background: linear-gradient(145deg,#0869ab,#4491d0);
  margin: 0;
  padding: 15px;
  min-height: 91vh;
}

/* Estilo de pagina*/
.page-head{
  margin: 0px 0px 20px;
  padding: 5px 20px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.50);
  border-bottom-width: thin;
}

.page-head .row{
  max-width: none !important;  
}

.page-head .page-title{
  color: #fff;
  display: inline-block;
}

i#return {
    margin-right: 5px;
    padding-right: 15px;
    border-right-style: solid;
    border-right-color: rgba(255, 255, 255, 0.50);
    border-right-width: thin;
    color: white;
    cursor: pointer;
}

i#return:hover {
    color: lightblue;
}

.page-main{
  padding: 5px 20px;
}

/* Seccion de la pagina*/
.page-section {
  margin-top: 5px;
  margin-bottom: 5px;
}

.page-section .row{
  max-width: none !important;
}

.page-section .row > .btn{
  margin-bottom: 10px;
  margin-left: 5px;
  width: initial;
}

.page-section .row .col > .btn{
  margin-bottom: 10px;
  margin-left: 5px;
  width: initial;
}


/* panel de funcionalidades*/
.function-panel{
  margin: 5px;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
}

.function-panel .function-head{
  padding: 10px 0px 0px 5px;
  font-style: italic;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.function-panel .function-body{
  padding: 5px;
}

.function-body .row .col h2{
  margin: 0px;
}

.function-panel .function-bottom{
  padding: 5px 10px 0px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
}

/* Clases auxiliares para el panel de funcion*/
.main-color-black{
  border: #000;
  border-style: solid;
  border-width: 1px;
  color: #000;
}

.main-color-blue{
  border: #0026FF;
  border-style: solid;
  border-width: 1px;
  color: #0026FF;
}

.main-color-red{
  border: #FF0000;
  border-style: solid;
  border-width: 1px;
  color: #FF0000;
}

.main-color-orange{
  border: #FF6A00;
  border-style: solid;
  border-width: 1px;
  color: #FF6A00;
}

.fill-black {
  background: #000;
  color: white;
}

.function-panel > .fill-black > a{
  color: white;
}

.function-panel > .fill-black > a:hover{
  color: white;
  text-decoration: underline;
}

.fill-blue{
  background: #0026FF;
  color: white;
}

.function-panel > .fill-blue > a{
  color: white;
}

.function-panel > .fill-blue > a:hover{
  color: white;
  text-decoration: underline;
}

.fill-red{
  background: #FF0000;
  color: white;
}

.function-panel > .fill-red > a{
  color: white;
}

.function-panel > .fill-red > a:hover{
  color: white;
  text-decoration: underline;
}

.fill-orange{
  background: #FF6A00;
  color: white;
}

.function-panel > .fill-orange > a{
  color: white;
}

.function-panel > .fill-orange > a:hover{
  color: white;
  text-decoration: underline;
}

.top-line-black{
  border-top-color: #000;
  border-top-style: solid;
  border-top-width: 1.5px;
}

.top-line-blue{
  border-top-color: #0026FF;
  border-top-style: solid;
  border-top-width: 1.5px;
}

.top-line-red{
  border-top-color: #FF0000;
  border-top-style: solid;
  border-top-width: 1.5px;
}

.top-line-orange{
  border-top-color: #FF6A00;
  border-top-style: solid;
  border-top-width: 1.5px;
}

 /* Panel de Trabajo */
.page-main > .work-container {
    padding: 15px !important;
    background: rgba(158, 195, 224, 0.85) !important;
    border-style: solid !important;
    border-color: #0a0a0a !important;
    border-width: thin !important;
    border-radius: 5px !important;
}

.work-container label {
    color: black;
    font-size: small;
}

.work-container input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px 0px;
    font-size: 14px;
    color: #333;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #eee;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    box-shadow: none;
}

.work-container input:focus {
    background-color: rgba(255, 255, 255, 0.20);
    border-bottom: 1px solid #333;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.work-container input[type=file]{
    border: none;
}

.work-container select{
    display: block;
    margin-bottom: 10px;
    height: initial;
    width: 100%;
    color: #333;
}

.work-container textarea{
    display: block;
    width: 100%;
}

.work-container > .row > .col > .btn{
  margin-bottom: 10px;
  width: initial;
} 

/* Clases extra para las tablas */
.img-product{
  max-height: 75px;
  width: auto;
}

/* Panel de Productos */
.product-panel {
    margin: 5px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
}

.product-img {
    padding: 5px;
    text-align: center;
    width: auto;
    height: 150px;
}

.product-img img {
    height: inherit;
    border-radius: 100%;
}

.product-inf{
    padding-left: 5px;
}

.product-inf h4{
  margin-bottom: 3px;
}

.product-inf h6{
  margin-top: 2px;
}

.product-bottom{
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
}

.product-bottom button {
  width: auto;
}

.product-bottom button:hover {
    text-decoration: underline;
    text-decoration-color: #333;
}


/* Clases extra para el panel de productos*/




/* Barra de busqueda*/
.search-bar span .btn {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left-width: 0.25px;
}

.menu-panel {
  border-radius: 10px;
  border-style: solid;
  background-color: rgba(78, 93, 108, 0.9);
  margin: 20px;
  padding: 50px 15px;
}

.cliente-container {
  background: white;
}

.app-action-md-fab {
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 50px;
}