<app-nav-proveedor></app-nav-proveedor>

<div class="component-container">
  <div class="page-head">
    <div class="row">
      <div class="col-sm-11">
         <i class="fa fa-chevron-left fa-3x" id="return" aria-hidden="true" [routerLink]="['/proveedor', idProveedor, 'compras']"></i>
         <h1 class="page-title">Detalle de la compra del cliente: {{ afiliado.nombre }}</h1>
      </div>
      <div class="col-sm-1">
        <button md-fab class="mat-fab" [routerLink]="['/proveedor', idProveedor, 'compras']"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>

  <div class="page-main">
    <div class="page-section">

      <div class="compra-container">
        
        <div class="compra-container-head">
            <h4><b>Datos de la compra</b></h4>
        </div>
        	
        <div class="compra-container-body">
          <div class="row">
            <i class="fa fa-spinner fa-pulse fa-5x fa-fw icon-loading" *ngIf="compra.fecha_Compra == undefined && afiliado.saldo == undefined"></i>

          	<div class="col-sm-6" *ngIf="compra.fecha_Compra != undefined && afiliado.saldo != undefined">
              <label class="col-lg-4 control-label"><h4><b>Fecha:</b> {{ compra.fecha_Compra }}</h4></label>
            </div>

		        <div class="col-sm-6" *ngIf="compra.fecha_Compra != undefined && afiliado.saldo != undefined">
		          <label class="col-lg-4 control-label"><h4><b>Saldo Total:</b> ${{ afiliado.saldo | number : '1.2-2' }}</h4></label>
		        </div>

          </div>
        </div>
      </div>

      <br><div class="compra-container">
        <div class="compra-container-head">
          <h4><b>Listado de los productos comprados</b></h4>
        </div>
          
        <div class="compra-container-body">
          <i class="fa fa-spinner fa-pulse fa-5x fa-fw icon-loading" *ngIf="listaDetalleCompra.length == 0"></i>
          <table class="table table-hovered" *ngIf="listaDetalleCompra.length != 0">
            <thead>
              <tr>
                <th>Categoría</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalleCompra of listaDetalleCompra | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{ detalleCompra.categoria }}</td>
                <td>{{ detalleCompra.producto }}</td>
                <td>{{ detalleCompra.cantidad }}</td>
                <td>${{ detalleCompra.precio }}</td>
                <td>${{ detalleCompra.cantidad * detalleCompra.precio | number : '1.2-2' }}</td>
              </tr>
              <tr><td class="colot-tr-table">Total de la compra:</td><td class="colot-tr-table"></td><td class="colot-tr-table"></td><td class="colot-tr-table"></td><td class="colot-tr-table">${{ compra.total | number : '1.2-2' }}</td></tr>
            </tbody>
          </table>
          
          <pagination-controls *ngIf="listaDetalleCompra.length != 0" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>

    </div>
  </div>
</div>