<app-nav></app-nav>
<div class="component-container">
	<div class="page-head">
		<i class="fa fa-chevron-left fa-3x" id="return" aria-hidden="true" routerLink="/menu-admin"></i>
		<h1 class="page-title">{{ titulo }}</h1>
	</div>
	<div class="page-main">
		<div class="page-section">
			<div class="row">
				<table class="table table-hovered">
					<thead>
						<tr>
					  		<th>Nombre</th>
					  		<th>Afiliaci&oacute;n</th>
					  		<th>Estado</th>
					  		<th>Proveedor</th>	  		
					  	</tr>
					</thead>  
					<tbody>
						<tr *ngFor="let cli of clientes | async | paginate: { itemsPerPage: 10, currentPage: p }">
							<td>{{ cli.nombre }}</td>
							<td>{{ cli.fecha_Afiliacion }}</td>
							<td>{{ cli.estado ? 'Activo' : 'Inactivo' }}</td>
							<td [ngSwitch]="cli.proveedor">
								<span *ngSwitchCase="false">
									<button class="btn btn-sm btn-success" (click)="modalProveedor(cli.$key, cli.nombre, cli.codigoQR)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>	
								</span>
								<span *ngSwitchDefault>
									<button class="btn btn-sm btn-danger" (click)="modalCliente(cli.$key, cli.nombre, cli.codigoQR)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>	
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- Pagination -->
				<pagination-controls (pageChange)="p = $event"></pagination-controls>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<modal #modalToProveedor>
	<modal-header>
		<h4 class="modal-title">¿Desea promover a este cliente a proveedor?</h4>	  		
	</modal-header>

	<modal-body class="form-horizontal">
		<div class="form-group">
			<label class="col-lg-2 control-label"><h5><b>Nombre:</b></h5></label>
			<div class="col-lg-9">
				<h5>{{ cliente.nombre }}</h5>
			</div>
		</div>

		<div class="form-group">
      		<label class="col-lg-2 control-label"><h5><b>Bar:</b></h5></label>
      		<div class="col-lg-9">
        		<input type="text" class="form-control" name="txtBar" placeholder="Ingrese el nombre del bar" [(ngModel)]="proveedor.bar" #bar="ngModel" required />
        		<span style="color:#e74c3c;" *ngIf="bar.errors?.required"><p>El nombre es requerido.</p></span>
      		</div>
    	</div>
	</modal-body>

	<modal-footer>
		<div *ngIf="bar.errors">
      		<button type="button" class="btn btn-primary col-lg-5" disabled><span class="glyphicon glyphicon-check"></span> Confirmar</button>
    	</div>
    	<div *ngIf="!bar.errors">
      		<button type="button" class="btn btn-primary col-lg-5" data-dismiss="modal" (click)="promoverProveedor()"><span class="glyphicon glyphicon-check"></span> Confirmar</button>	
    	</div>  				
	  	<button type="button" class="btn btn-danger col-lg-5" (click)="modalToProveedor.close()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button> 			
	</modal-footer>
</modal>

<modal #modalToCliente>
	<modal-header>
		<h4 class="modal-title">¿Desea remover los privilegios de este proveedor proveedor?</h4>	  		
	</modal-header>

	<modal-body>
		<div class="form-group">
			<h5><b>Nombre:</b> {{ cliente.nombre }}</h5>
		</div>
	</modal-body>

	<modal-footer>
	  	<button type="button" class="btn btn-primary col-lg-5" data-dismiss="modal" (click)="promoverCliente()"><span class="glyphicon glyphicon-check"></span> Confirmar</button>	  				
	  	<button type="button" class="btn btn-danger col-lg-5" (click)="modalToCliente.close()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button> 			
	</modal-footer>
</modal>

<modal #modalMensaje>
	<modal-header>
		<h4 class="modal-title">Mensaje</h4>	  		
	</modal-header>

	<modal-body>
		<div class="form-group">
			<h3>{{ mensajeError }}</h3>
		</div>
	  	 
	</modal-body>

	<modal-footer>	  				
	  	<button type="button" style="width: 40%" class="btn btn-danger col-lg-5" (click)="modalMensaje.close()"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>			
	</modal-footer>
</modal>

