<app-nav-proveedor></app-nav-proveedor>
<div class="component-container">
  <div class="page-head">
    <i class="fa fa-chevron-left fa-3x" id="return" aria-hidden="true" routerLink="/menu-admin"></i>
    <h1 class="page-title">{{ titulo }}</h1>
  </div>
  <div class="page-main">
    <div class="page-section">
      <div class="row">
        <table class="table table-hovered">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Ver Productos</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cate of categorias | async | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{ cate.nombre }}</td>
            <td>{{ cate.descripcion }}</td>
            <td><a class="btn btn-info btn-sm" [routerLink]="['/proveedor', id, 'categoria', cate.$key, 'producto']"><i class="fa fa-search" aria-hidden="true"></i></a></td>
            <td><button class="btn btn-primary btn-sm" (click)="openModalCategoriaEditar(cate.$key, cate.descripcion, cate.nombre)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
            <td><button class="btn btn-danger btn-sm" (click)="openModalCategoriaEliminar(cate.$key, cate.descripcion, cate.nombre)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
          </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
  <span class="app-action-md-fab"><button md-fab class="btn btn-success btn-md" (click)="openModalCategoriaCrear()"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
</div>

<!-- Modal Eliminar -->
<modal #modalCategoriaEliminar>
  <modal-header>
    <h4 class="modal-title">¿Desea Eliminar esta Categoria?</h4>
  </modal-header>

  <modal-body>
    <div class="form-group">
      <h5><b>Nombre:</b> {{ categoria.nombre }}</h5>
    </div>

    <div class="form-group">
      <h5><b>Descripción:</b> {{ categoria.descripcion }}</h5>
    </div>
  </modal-body>

  <modal-footer>
    <button type="button" class="btn btn-primary col-lg-5" data-dismiss="modal" (click)="eliminarCategoria()"><i class="fa fa-check" aria-hidden="true"></i> Confirmar</button>
    <button type="button" class="btn btn-danger col-lg-5" (click)="modalEliminar.close()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
  </modal-footer>
</modal>

<!-- Modal Crear -->
<modal #modalCategoriaCrear>
  <modal-header>
    <h4 class="modal-title">Registro de una nueva categoría</h4>
  </modal-header>

  <modal-body class="form-horizontal">
    <div class="form-group">
      <label class="col-lg-2 control-label"><h5><b>Nombre:</b></h5></label>
      <div class="col-lg-9">
        <input type="text" class="form-control" name="txtnombre" placeholder="Ingrese el nombre" [(ngModel)]="categoria.nombre" #nombre="ngModel" required />
        <span style="color:#e74c3c;" *ngIf="nombre.errors?.required"><p>El nombre es requerido.</p></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label"><h5><b>Descripción:</b></h5></label>
      <div class="col-lg-9">
        <input type="text" class="form-control" name="txtdescripcion" placeholder="Ingrese la descripción" [(ngModel)]="categoria.descripcion" #descripcion="ngModel" required />
        <span style="color:#e74c3c;" *ngIf="descripcion.errors?.required"><p>La descripción es requerida.</p></span>
      </div>
    </div>
  </modal-body>

  <modal-footer>
    <div *ngIf="nombre.errors || descripcion.errors">
      <button type="button" class="btn btn-primary col-lg-5" disabled><i class="fa fa-check" aria-hidden="true"></i> Confirmar</button>
    </div>
    <div *ngIf="!nombre.errors && !descripcion.errors">
      <button type="button" class="btn btn-primary col-lg-5" data-dismiss="modal" (click)="agregarCategoria()"><i class="fa fa-check" aria-hidden="true"></i> Confirmar</button>
    </div>
    <button type="button" class="btn btn-danger col-lg-5" (click)="modalCrear.close()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
  </modal-footer>
</modal>

<!-- Modal Editar -->
<modal #modalCategoriaModificar>
  <modal-header>
    <h4 class="modal-title">¿Desea Editar esta Categoria?</h4>
  </modal-header>

  <modal-body class="form-horizontal">
    <div class="form-group">
      <label class="col-lg-2 control-label"><h5><b>Nombre:</b></h5></label>
      <div class="col-lg-9">
        <input type="text" class="form-control" name="txtnombre" [value]="categoria.nombre" [(ngModel)]="categoria.nombre" placeholder="Ingrese el nombre" [(ngModel)]="categoria.nombre" #nombre="ngModel" required />
        <span style="color:#e74c3c;" *ngIf="nombre.errors?.required"><p>El nombre es requerido.</p></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label"><h5><b>Descripción:</b></h5></label>
      <div class="col-lg-9">
        <input type="text" class="form-control" name="txtdescripcion" [value]="categoria.descripcion" placeholder="Ingrese la descripción" [(ngModel)]="categoria.descripcion" #descripcion="ngModel" required />
        <span style="color:#e74c3c;" *ngIf="descripcion.errors?.required"><p>La descripción es requerida.</p></span>
      </div>
    </div>
  </modal-body>

  <modal-footer>
    <div *ngIf="nombre.errors || descripcion.errors">
      <button type="button" class="btn btn-primary col-lg-5" disabled><i class="fa fa-check" aria-hidden="true"></i> Confirmar</button>
    </div>
    <div *ngIf="!nombre.errors && !descripcion.errors">
      <button type="button" class="btn btn-primary col-lg-5" data-dismiss="modal" (click)="actualizarCategoria()"><i class="fa fa-check" aria-hidden="true"></i> Confirmar</button>
    </div>
    <button type="button" class="btn btn-danger col-lg-5" (click)="modalModificar.close()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
  </modal-footer>
</modal>